tr:nth-child(1) {
    border-top: 3px solid #00008b;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 20px
}

tr:nth-child(3) {
    border-top: 3px solid #00008b;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 20px
}

tr:nth-child(6) {
    border-top: 3px solid #00008b;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 20px
}